// Primary

$Darkcyan: hsl(158, 36%, 37%)
$Cream: hsl(30, 38%, 92%)

// Neutral

$Verydarkblue: hsl(212, 21%, 14%)
$Darkgrayishblue: hsl(228, 12%, 48%)
$White: hsl(0, 0%, 100%)

//  Body Copy

$Fontsizeparagraph: 14px

$FontfamilyTitle: 'Fraunces', serif

$FontfamilyParagraph: 'Montserrat', sans-serif

.productContainerMain
  background: $Cream
  width: 100%
  height: 100vh
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr auto

.productCard
  background: #fff
  max-width: 340px
  height: 610px
  place-self: center
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 40% 1fr
  border-radius: 10px
  overflow: hidden

.productCard--image
  background-image: url(./images/image-product-mobile.jpg)
  flex: 3 1 auto
  background-size: cover
  background-position: center

.productCard--info
  flex: 1 1 auto
  padding: 25px
  display: flex
  flex-direction: column
  justify-content: space-between
h1
  font-family: $FontfamilyTitle
  margin: 0
p
  font-family: $FontfamilyParagraph
  color: $Darkgrayishblue
  font-size: $Fontsizeparagraph
  line-height: 22px
  margin: 0
  word-spacing: -1px
button
  background: $Darkcyan
  color: $White
  border: none
  width: 100%
  border-radius: 8px
  padding: 15px 0
  font-size: $Fontsizeparagraph
  font-family: $FontfamilyParagraph
  align-self: start
  font-weight: 700
  &:hover
    background: #183F31
  img
    width: 14px
    height: 14px
    padding-right: 10px
.productCar--Type
  color: $Darkgrayishblue
  text-transform: uppercase
  font-family: $FontfamilyParagraph
  font-size: 12px
  letter-spacing: 5px
.productCard--price
  display: flex
  align-items: center
  column-gap: 25px
  span:nth-child(1)
    font-family: $FontfamilyTitle
    color: $Darkcyan
    flex: 0 1 auto
    font-size: 30px
  span:nth-child(2)
    font-family: $FontfamilyParagraph
    font-size: $Fontsizeparagraph
    flex: 1 1 auto
    color: $Darkgrayishblue
    text-decoration: line-through

.containerFooter
  display: grid
  justify-items: center
  background: #000
  width: 100%
h3
  color: #fff
  text-align: center
a
  color: #FF3F00
  text-transform: capitalize
  text-decoration: none
  &:hover
    text-decoration: underline

@media screen and ( min-width: 1024px   )
  .productCard
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    max-width: 600px
    height: 450px
  .productCard--image
    background-image: url(./images/image-product-desktop.jpg)
    flex: 3 1 auto
  .productCard--info
    flex: 1 1 auto
    h1
      word-spacing: 5px
    p
      word-spacing: 2px
